<center>
  <h1 class="display-4 py-3 mb-3 border-bottom">
    <%= title %>
  </h1>

  <h4>OSC SI 2023</h4>
  <h3>Create Some Projects!</h3>

  <button onclick="LD()">Change Theme</button>

  </center>
