/* nav{
    background-color: rgb(23, 23, 83);
    color: rgb(255,255,255);
} */
.title{
    font-size: 27px;
    

}
#theme{
    background-color: white;
}
body{
    
}
.hov{
    li:nth-child(2){
        :hover{

        }
   

}
}